body {
  background: #f4f6f8;
  font-family: sans-serif;
}

.container {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
}

li {
  margin-top: 10px;
}
